.dashRoot {
    width: 85vw;
}

.dashContent {
    width: 65vw;
}

.dashTopbar{
    height: 16vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.dashCard {
    align-items: center;
    background-color: #262638;
    border-radius: 2ch;
    display: flex;
}

.dashTopLeftCard {
    height: 13vh;
    width: 23vw;
}

.dashStartText {
    color: #e6b329;
    font-size: 2ch;
}

.dashStartButton {
    background-color: #1f1f33;
    border-radius: 3ch;
    height: 8ch;
    width: 8ch;
}

.dashStartIcon {
    height: 4ch;
}

.dashTopRightCard {
    height: 13vh;
    width: 34vw;
}

.dashDeviceSelectContainer {
    width: 11vw;
}

.dashDeviceSelect {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #e6b329;
    color: #e0e0e0;
    outline: none;
    width: 8vw;
}

.dashMain {
    height: 80vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.dashMainLeft {
    height: 75vh;
    width: 30vw;
}

.dashLeftTopCard {
    height: 10vh;
    width: 30vw;
}

.dashLeftCardLabel {
    font-size: 2ch;
    text-align: left;
    padding-left: 5vw;
    width: inherit;
}

.dashTimeSinceNum {
    color: #e6b329;
    font-size: 3ch;
    text-align: right;
    padding-right: 5vw;
    width: inherit;
}

.dashLeftMiddleCard {
    height: 15vh;
    width: 30vw;
}

.dashProgress {
    width: 20vw;
}

.dashLeftBottomCard {
    height: 45vh;
    width: 30vw;
}

.dashLeftBottomLabelContainer {
    width: 35vw;
}

.dashLeftCardLLabel {
    font-size: 2ch;
    padding-left: 5vw;
}

.dashLeftCardRLabel {
    font-size: 2ch;
    padding-right: 5vw;
    text-align: right;
}

.dashPlusIcon {
    width: 2ch;
}

.dashDeviceList {
    height: 35vh;
}

.dashRightCard {
    height: 75vh;
    width: 26vw;
}

.dashRightLabel {
    font-size: 2ch;
}

.dashReportList {
    height: 65vh;
}

.dashIndicator {
    background-color: #262638;
    height: 4vh;
    width: 65vw;
}

.dashIndicatorBar {
    width: 60vw;
}

.dashDetail {
    background-color:#1f1f33;
    height: 100vh;
    width: 20vw;
}

.dashAddDeviceContainer {
    padding-top: 4vh;
}

