.dashRoot {
    width: 85vw;
}

.dashContent {
    width: 65vw;
}

.dashTopbar{
    height: 15vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.dashCard {
    align-items: center;
    background-color: #262638;
    border-radius: 2ch;
    display: flex;
}

.dashTopLeftCard {
    height: 10vh;
    width: 23vw;
}

.dashTopRightCard {
    height: 10vh;
    justify-content: center;
    width: 32vw;
}

.dashMain {
    height: 80vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.dashMainLeft {
    height: 75vh;
    width: 30vw;
}

.dashLeftCard {
    height: 8vh;
    width: 30vw;
}

.timeSinceText {
    font-size: 2ch;
}

.dashReportCard {
    height: 40vh;
    width: 30vw;
}

.dashRightCard {
    height: 75vh;
    width: 25vw;
}

.bottomIndicator {
    background-color: #262638;
    height: 5vh;
    width: 85vw;
}

.dashDetail {
    background-color:#1f1f33;
    height: 100vh;
    width: 20vw;
}

