.fileTop {
    height: 10vh;
    padding-left: 1vw;
}

.fileNavBtn {
    height: 4vh;
    padding-right: 1vw;
    width: 2.5vw;
}

.fileNavImg {
    width: 1.5vw;
}

.fileDirBar {
    background-color: #29293d;
    border-radius: 3.5vh;
    height: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow-x: scroll;
    width: 58vw;
}

.fileDirBarText {
    color: #e0e0e0;
    font-size: 2vh;
    padding-right: 0.1vw;
    white-space: nowrap;
}

.fileSearchbarInput {
    background-color: #29293d;
    border-radius: 2vh;
    border: none;
    color: #e0e0e0;
    font-size: 2vh;
    height: 4vh;
    padding-left: 1vw;
    outline: none;
    width: 9vw;
}

.fileSearchbarInput:focus {
    display: flex;
    flex: 1;
}

.fileOptionBar {
    background-color: #1f1f33;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 10vh;
    width: 18vw;
}

.fileContent {
    height: 90vh;
}

.fileFolders {
    height: 90vh;
    overflow: scroll;
    width: 16vw;
}

.fileFolders::-webkit-scrollbar {
    width: 0.5vw;
}

.fileFolders::-webkit-scrollbar-thumb {
    background: #373744;
}

.fileFolder {
    align-items: center;
    display: flex;
    height: 5vh;
    width: 14vw;
}

.fileFolderImg {
    width: 2.5vw;
}

.fileItemText {
    color: #e0e0e0;
    font-size: 1vw;
    white-space: nowrap;
}

.fileFiles {
    flex: 1;
    height: 90vh;
    overflow: scroll;
    padding-left: 1vw;
}

.fileFiles::-webkit-scrollbar {
    width: 0.5vw;
}

.fileFiles::-webkit-scrollbar-thumb {
    background: #373744;
}

.fileFileImg {
    height: 3.5vh;
    margin-right: 0.5vw;
}

.fileMoreInfo {
    background-color: #1f1f33;
    height: 90vh;
    width: 20vw;
}

.fileTextInfo {
    width: 20vw;
}

.fileInfoPic {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.fileInfoContainer {
    margin-top: 2ch;
    width: 18vw;
}

.fileInfoText {
    overflow-wrap: break-word;
    width: 13vw;
}

.fileDownloadBtnContainer {
    height: 15vh;
}

.fileDownloadBtn {
    background-color: #e6b329;
    border: 0;
    border-radius: 2vh;
    height: 4vh;
    margin-top: 2vh;
    outline: none !important;
    width: 35ch;
}